#tom{
    width: 500px;
    padding: 65px;
}
body{
    text-align:center;
}
#intro{
    background: linear-gradient(#ffaca1 0%, #ab1400 100%)
}
.Link{
    float: right;
    color: black;
    
}
.menu {
    list-style: none;
    font-size: 24px;
}
.links{
    float:left;
}
html{
    scroll-behavior: smooth;
}
a{
    font-size: 24px;
}